
root = true

[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.js]
indent_size = 4

[*.{json,html,css,less,sass}]
indent_size = 2
