/.codeclimate.yml
/.editorconfig
/.eslintignore
/.eslintrc.yaml
/.gitignore
/.idea
/.nvmrc
/.nycrc
/.nyc_output
/.travis.yml
/.vscode
/coverage
/tag-release.sh
/test/.eslintrc.yaml
/test/integration
/test-tmp
__*
